.materials 
    padding: 100px 0
    &__title 
        font-size: 32px
        font-weight: 400
        line-height: 50px
        padding: 100px
        background-color: $main-color
        color: #000
        +reg
    &-block 
        display: flex
        justify-content: space-between
    &__item 
        margin: 100px 0
        width: 370px
        background-color: $bg-color
        display: flex
        flex-direction: column
        justify-content: space-between
    &__text 
        display: inline-block
        padding: 0 25px
        font-size: 16px
        font-weight: 400
        line-height: 23px
        width: 339px
.bold 
    display: inline
    +bold


        